environment/homestead/.vagrant
environment/homestead/phpunit.xml
environment/homestead/Homestead.json
environment/homestead/after.sh
environment/homestead/aliases
environment/homestead/.vagrant.d
environment/homestead/mysqldump.sql.gz
environment/homestead/mysql_backup
environment/homestead/postgres_backup
environment/homestead/user-customizations.sh
environment/homestead/.phpunit.result.cache
environment/homestead/wsl-init.log
environment/homestead/.backup/*
about.txt
Projects/challenge/node_modules
Projects/challenge/public/hot
Projects/challenge/public/storage
Projects/challenge/storage/*.key
Projects/challenge/vendor
Projects/challenge.env
Projects/challenge.env.backup
Projects/challenge.phpunit.result.cache
Projects/challenge/docker-compose.override.yml
Projects/challenge/Homestead.json
Projects/challenge/Homestead.yaml
Projects/challenge/npm-debug.log
Projects/challenge/yarn-error.log
Projects/challenge/.idea
Projects/challenge/.vscode